:root{
    background-color: rgb(27, 27, 27);
    color: rgb(214, 214, 214);
    font-family:'Open Sans', sans-serif;
    font-size:1rem;
}

h1{
    font-family:'JetBrains Mono', monospace;
    font-size:2rem;
    color:rgb(214, 214, 214);
}
img{
    border-radius:50%;
    background-color: black;
}
a{
    text-decoration: none;
    color:#909090;
}
.top-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(39, 39, 39); */
    height:60px;
    /* margin:auto; */
    padding:5px;

}
.home{
    /* position:absolute; */
    justify-self:center;
    width:120px;
    height:60px;
    /* background-color: rgb(164, 101, 101); */
    /* float: left; */
}
.menu{
    /* position:flex; */
    text-align: center;
    font-family:'Unbounded',sans-serif;
    color:#909090;
    text-decoration:none;
    z-index:0;
    /* background-color: rgb(167, 167, 167); */

}
.main-container{
    display:flex;
    align-items: center;
    /* justify-content:space-around;
    padding: 0 10px 0 10px; */
}
.user-porperty{
    /* display:flex; */
    flex-direction: row;

}

.ava-container{
    display:flex;
    width: 100px;
    height:100px;
    padding:20px;
    border:rgb(0, 0, 0) 6px;
}
.user-porperty{
    display:contents;
}
