:root{
    background: url('/src/BG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    font-family:'Inter' ,sans-serif;
    font-weight: 600;
    font-size: 5rem;
}
.web_navbar-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin:10%;
    padding: 6px;
    border-bottom: solid #000 3px;
}
