:root{
    background: url('/src/BG.png');
    backface-visibility: opacity(0.5);
    background-color: #2F2F2F;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    --gray-color:#c1c1c1;
    --red-color:#C62121;
    --darkGray-color:#2F2F2F;
    font-family:'Inter' ,sans-serif;
}
h3{
    color:var(--red-color);
    font-family:'Inter',sans-serif;
    font-weight: 800;
    font-size: 1rem;
    
}

li{
    list-style: none;

}

a{
    text-decoration: none;
    color:var(--gray-color);
    font-family: 'Inter',sans-serif;
    font-weight: 300;
    font-size: 1rem;
}
.web_navbar-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    margin:10px;
    padding: 10px;
    border-bottom: solid rgba(255,255,255,0.8) 3px;
    
    .logo{
        padding-bottom: 10px;
    }
    
}

.web__main-info{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 10px;
    padding-bottom: 20px;
    border-bottom: solid var(--darkGray-color) 3px;
    
    .column-1{
        .info-name{
            border-bottom: solid var(--darkGray-color) 2px;
        }
        .info-title{
            border-bottom: solid var(--darkGray-color) 2px;
        }
    }
    .column-2{
        padding: 0 40px;

        .info-website{
            border-bottom: solid var(--darkGray-color) 2px;
        }
        .info-email{
            border-bottom: solid var(--darkGray-color) 2px;
        }
    }
    .p-text{
        color:var(--gray-color);
        font-family: 'Inter',sans-serif;
        font-weight: 300;
        font-size: 1rem;
        text-decoration: none;
        padding-left: 100px;
    }
}
.web__main-detail{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin:0 80px 0 10px ;
}
.web__main-detail-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    height: 100vh;
    margin-right:4rem;
}
.web__main-detail-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.li-text-black{
    font-size: 1.25rem;
    color:var(--darkGray-color);
}
.li-text-gray{
    padding: 0;
    color: var(--gray-color);
}
.sub__detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.main__detail-2{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   
.main__detail-skills{
    /* margin:auto; */
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.main__detail-interests{
    /* margin-right: 10rem; */
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.header-text{
    color: var(--red-color);
    font-family:'Inter' ,sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin:0.5rem 0;
    text-transform: uppercase;
}
.main__detail-edu{
    width: 100%;
    height: 30%;
    background: url(/src/EDU_BG.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.list-edu{
    display: flex;
    flex-direction: column;
}
.list-skills{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 0.5rem;
}
.list-interest{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.list-interest-1{
    margin-right: 2rem;
}

.sub__detail-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user-portrait{
    z-index: 0;
    display: flex;
    position: absolute;
    transform: scaleX(-1);
    margin-left: 26rem;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-btn{
    /* display: flex; */
    /* flex-direction: row;
    justify-content: center; */
    font-family: 'Inter',sans-serif;
    font-size: 1rem;
    font-family: 500;
    margin:1rem 0;
    background-color: var(--darkGray-color);
    border-radius: 30px;
    justify-content: flex-start;
    padding:6px 0 6px 16px;
    box-shadow: rgb(59, 59, 59) multiply ;
    align-items: center;

    &:hover{
        font-weight: 800;
        font-size: 3rem;
        color: var(--red-color);
    }
}


/* CONTACT PAGE */

.web__main-form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url('./src/Leave_message.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-head{
    float: right;
    color: var(--red-color);
    font-family:'Inter' ,sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 80px;
}

button{
    color: #fff;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px;
    background-color: var(--red-color);
    border-color: transparent;
    border-radius: 16px;

    box-shadow: solid rgb(51, 50, 50) multiply;

}
lable{
    margin:6px;    
}
textarea{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: #fff;
    border-color: transparent;
    border-radius: 8px;
    background-color: rgba(151, 151, 151, 0.5);
}
input{
    padding: 10px;
    border-color: transparent;
    border-radius: 8px;
    background-color: rgba(151, 151, 151, 0.5);

}
input::placeholder{
    font-family: 'Courier New', Courier, monospace;
    color:#fff;
}